.navbar-default .em-text, .em-text {
  color: #1caa98;
}

#middle {
  padding: 40px 0 40px 0;
}

.jumbotron {
  background: url(../img/site_showcase_bg.jpg) no-repeat top center;
  color: #fff;
  height: 500px;
  overflow: hidden;
}

.jumbotron h1 {
  color: #fff;
  margin-top: 60px;
}

.jumbotron p {
  margin-bottom: 40px;
}

.jumbotron img.app-btn {
  width: 40%;
  margin-right: 30px;
}

.jumbotron .showcase-img {
  width: 75%;
}

img.demo {
  width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
}

#feature {
  background: #1caa98;
  color: #fff;
  padding: 40px;
  overflow: auto;
}

#feature ul li {
  list-style: none;
  font-size: 22px;
  line-height: 2em;
}

footer {
  background: #333;
  color: #fff;
  padding: 30px 0 30px 0;
}

footer li {
  float: left;
  padding: 0 10px 0 10px;
  list-style: none;
}

footer a {
  color: #fff;
}

footer p {
  float: right;
}
